<div class="form border border-dark p-5" style="width: 600px; margin: 16px auto;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2>Sign up</h2>
    <p><%= f.input :first_name,
                    placeholder: "Your first name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first name" }%></p>
    <p><%= f.input :last_name,
                    placeholder: "Your last name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%></p>
    <p><%= f.input :email,
                    placeholder: "Your email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%></p>
    <p><%= f.input :photo,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "photo" }%></p>
    <p><%= f.input :password,
                    placeholder: "Choose a password",
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %></p>
    <p><%= f.input :password_confirmation,
                    placeholder: "Repeat your password",
                    required: true,
                    input_html: { autocomplete: "new-password" } %></p>
    <p><%= f.button :submit, "Sign up", class: "btn-book w-100 mt-3 mb-0" %></p>
  <% end %>
</div>
<br><br>
<div class="d-flex">
  <%= render "devise/shared/links" %>
</div>
