<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Storefy", "#", class: "nav-link text-dark font-weight-bold border border-info" %>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="list-space">
          <%= link_to "List your space", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", user_session, class: "dropdown-item" %>
            <%= link_to "Edit my Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My Bookings", "#", class: "dropdown-item" %>
            <%= link_to "My Storages", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="list-space">
          <%= link_to "List your space", "#", class: "nav-link" %>
        </li>
        <li class="nav-item border border-dark mr-2 rounded-pill">
          <%= link_to "Sign Up", "#", class: "nav-link" %>
        </li>
        <li class="nav-item border border-info rounded-lg">
          <%= link_to "Login", "#", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>



