<div class="form border border-dark p-5" style="width: 600px; margin: 16px auto;">
  <%= simple_form_for @storage do |f| %>
    <h3>Edit <%= @storage.title %></h3>
    <p><%= f.input :title %></p>
    <p><%= f.input :address %></p>
    <p><%= f.input :sqm %></p>
    <p><%= f.input :description %></p>
    <p><%= f.input :price %></p>
    <p><%= f.button :submit, class: "btn-book w-100 mt-3 mb-0" %></p>
  <% end %>
  <div class="d-flex">
    <%= link_to 'Back', storage_path(@storage), class: "btn btn-outline-secondary mr-3" %>
    <%= link_to 'Add photos', storage_photos_path(@storage), class: "btn btn-outline-secondary" %>
  </div>
</div>

