
<h1>Welcome to Storify's storages</h1>

<div class="cards-storages">
  <% @storages.each do |storage| %>
    <%= link_to storage_path(storage) do%>
      <div class="card-storage">
        <img src="https://images.unsplash.com/photo-1556611832-c5f358b0057e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <div class="card-storage-infos">
          <div>
            <h2><%= storage.title %></h2>
            <p><%= storage.price %> € / month</p>
            <p><%= storage.description %></p>
            <p> the storage is located it the <%= storage.address %> district</p>
          </div>
            <h2 class="card-storage-sqm"><%= storage.sqm %> sqm</h2>
            <%= cl_image_tag storage.user.photo, class: "card-storage-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
