<h1><%= @storage.title %></h1>

<div class="storage d-flex p-3">
  <div class="storage-img">
    <img src="https://images.unsplash.com/photo-1556611832-c5f358b0057e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="w-50">
  </div>
  <div class="storage-content">
    <p> the storage is located it the <%= @storage.address %> district</p>
    <p>Price: <%= @storage.price %> â‚¬ / month</p>
    <p>Volume: <%= @storage.sqm %> sqm</p>
    <p>Description: <%= @storage.description %></p>
  </div>
  <%= cl_image_tag current_user.photo, id: "user_photo" %>
</div>
<br>
<%= link_to 'My storages', my_storages_path, class: "btn btn-info" %>
<%= link_to 'Edit âœï¸', edit_storage_path(@storage), class: "btn btn-info" %>
<%= link_to 'Delete ðŸ—‘', @storage, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-info" %>
<% if @storage.user == current_user %>
<h3 class="text-center mb-3">Upcoming Bookings</h3>
<div class="card-booking">
  <% @storage.bookings.each do |booking| %>
  <div class="card-booking-infos">
    <p class="mt-2"><strong>Guest:</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p><strong>Status:</strong> <%= booking.status %></p>
    <p><strong>Price:</strong> <%= booking.total_price %> â‚¬</p>
    <p><strong>Check-in:</strong> <%= booking.start_date.to_formatted_s(:long) %> </p>
    <p><strong>Check-out:</strong> <%= booking.end_date.to_formatted_s(:long) %> </p>
    <p><strong>Duration:</strong> <%= (booking.end_date - booking.start_date).to_i %> days</p>
    <p class="mb-2"><strong>Belongs to:</strong> <%= booking.storage.user.first_name.capitalize %> </p>
    <br>
  </div>
  <% end %>
</div>
<% else %>
  <h1>Book</h1>
  <%= simple_form_for [@storage, @booking] do |f| %>
    <p><%= f.input :start_date %></p>
    <p><%= f.input :end_date %></p>
    <%= f.button :submit, class: "btn-outline-success" %>
  <% end %>
<% end %>
