<div class="grid">
  <div class="column banner-pic" style="background-image: url('<%= cl_image_path (@storage.photos.first&.data || "https://images.unsplash.com/photo-1556611832-c5f358b0057e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80") %>');">
    <%# if @storage.photos.present? %>
      <%# cl_image_tag @storage.photos.first.data, id: 'photo_upload' %>
      <div class="other-photos">
        <%# @storage.photos.drop(1).each do |photo| %>
          <%# cl_image_tag photo.data, id: 'photo_upload' %>
        <%# end %>
      </div>
    <%# else %>
      <!-- <img src=""> -->
    <%# end %>
  </div>
  <div class="column"
    id="map"
    style="width: 100%;
    height: 60vh;
    position: sticky;
    top: 0;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<div class="container d-flex justify-content-around pt-5">
    <div class="storage-content d-flex">
      <div class="storage-text-content mr-5">
        <h1><%= @storage.title.capitalize %></h1>
        <p><%= @storage.address %></p>
        <p><strong>Description:</strong> <%= @storage.description %></p>
        <p><strong>Price:</strong> <%= @storage.price %> â‚¬ / month</p>
        <p><strong>Volume:</strong> <%= @storage.sqm %> sqm</p>

      <% if policy(@storage).edit? %>
      <%= link_to 'Edit âœï¸', edit_storage_path(@storage), class: "btn btn-outline-secondary" %>
      <% end %>
      <% if policy(@storage).destroy? %>
      <%= link_to 'Delete ðŸ—‘', @storage, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-danger" %>
      <% end %>
       </div>

      <% if @storage.user.photo.present? %>
        <div class="text-center">
          <%= cl_image_tag @storage.user.photo, id: "user_photo" %>
          <p class="mt-3"><%= @storage.user.first_name %></p>
        </div>
      <% else %>
        <div class="text-center">
          <img src="<%= image_path 'icon.png' %>" alt="" id= "user_photo">
          <p class="mt-3"><%= @storage.user.first_name.capitalize %></p>
        </div>
      <% end %>
       </div>

      <% if @storage.user == current_user %>
        <div class="title text-center">
          <h3 class="mb-4"><span>Bookings</span></h3>
          <div class="cards-booking mb-4" >
            <% @storage.bookings.each do |booking| %>
            <div class="card-booking-infos d-flex justify-content-around p-4" style="width: 450px">
              <div class="booking-info text-left mt-2">
                  <p class="mt-2"><strong>Guest:</strong> <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
                  <p><strong>Revenue:</strong> <%= @storage.price * (booking.end_date - booking.start_date).to_i %> â‚¬</p>
                  <p><strong>Check-in:</strong> <%= booking.start_date.to_formatted_s(:long) %> </p>
                  <p><strong>Check-out:</strong> <%= booking.end_date.to_formatted_s(:long) %> </p>
                  <p><strong>Duration:</strong> <%= (booking.end_date - booking.start_date).to_i %> days</p>
                  <p class="mb-2"><strong>Owner:</strong> <%= booking.storage.user.first_name.capitalize %> </p>
              </div>
              <div class="booking-status mt-2 pl-2 border-left border-info">
                <p class="mt-2"><strong>Status:</strong> <%= booking.status %></p>
                <% if booking.status == 'pending' %>
                  <p class="btn btn-outline-success btn-sm"><%= link_to 'Accept', approved_path(booking), method: :patch %></p>
                  <p class="btn btn-outline-danger btn-sm"><%= link_to 'Decline', denied_path(booking), method: :patch %></p>
                <% end %>
              </div>
            </div>
          </div>
            <% end %>
        </div>

      <% else %>
        <div class="form border border-dark p-5">
          <%= simple_form_for [@storage, @booking] do |f| %>
            <h3>Book this storage</h3>
            <p><%= f.input :start_date, as: :string, required: false, label: "Check-in", input_html: { class: "datepicker" }, placeholder: "Select a date" %></p>
            <p><%= f.input :end_date, as: :string, required: false, label: "Check-out", input_html: { class: "datepicker" }, placeholder: "Select a date"  %></p>
            <%= f.button :submit, class: "btn-book w-100 mt-3 mb-0", value: "Book Now" %>
          <% end %>
        </div>
      <% end %>
</div>

