<div class="form border border-dark p-5" style="width: 600px; margin: 16px auto;">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Log in</h2>
    <p><%= f.input :email,
                    placeholder: "your email here",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %></p>
    <p><%= f.input :password,
                    placeholder: "your password here",
                    required: false,
                    input_html: { autocomplete: "current-password" } %></p>
    <p><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></p>
    <p><%= f.button :submit, "Log in", class: "btn-book w-100 mt-3 mb-0" %></p>
  <% end %>
</div>
<br><br>
<div class="d-flex">
  <%#= render "devise/shared/links" %>
</div>


